html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  /* background-color: #607d8b; */
  background-color: #260136;
  margin: 0;
  height: calc(100vh - 100px);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  overflow: hidden;
}

.row {
  margin-bottom: -4px;
}
